// ! Media Queries

/* ********* MEDIA QUERIES ********* */

.roll-dice__landscape {
    display: none;
}

/* A media query that is only applied when the device is in landscape mode. */
@media (orientation: landscape) {
    .main {
        display: flex;
        justify-content: space-evenly;
        &__controls {
            display: flex;
            flex-direction: column;
            margin: 0 1rem !important;
            &--dice-col {
                margin-left: 0px !important;
            }
        }
    }

    /* Hiding the dice image when the screen is in portrait mode. */
    .roll-dice__portrait {
        display: none !important;
    }

    /* Making the dice image visible when the screen is in landscape mode. */
    .roll-dice__landscape {
        display: block !important;
    }
}

// ! Portrait

// ! Mobile Portrait

/* (320x480) Smartphone, Portrait */
@media (max-width: 320px) and (orientation: portrait) {
    .btn__icon {
        background-color: red;
    }

    .menu__game-name {
        background-color: red;
    }
}

@media (min-width: 360px) and (orientation: portrait) {
    .wrapper {
        justify-content: space-around;
    }
    .btn__icon {
        background-color: yellow;
    }

    .menu__game-name {
        background-color: yellow;
    }

    .btn__icon {
        float: left;
        height: 24px;
        width: 24px;
    }

    .main__name {
        font-size: 1.5rem;
    }

    .main__score {
        font-size: 2rem;
    }

    .main__current--label,
    .main__current--score {
        font-size: 1rem;
    }

    .main__controls--dice-img {
        height: 2.5rem;
    }
}

@media (min-width: 375px) and (orientation: portrait) {
    .btn__icon {
        background-color: blue;
    }

    .menu__game-name {
        background-color: blue;
    }
}

@media (min-width: 380px) and (orientation: portrait) {
    .btn__icon {
        background-color: gray;
    }

    .menu__game-name {
        background-color: gray;
    }
}

@media (min-width: 400px) and (orientation: portrait) {
    .btn__icon {
        background-color: green;
    }

    .menu__game-name {
        background-color: green;
    }

    .btn__icon {
        float: left;
        height: 30px;
        width: 30px;
    }

    .main__name {
        font-size: 1.7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .main__score {
        font-size: 2.2rem;
    }

    .main__current--label,
    .main__current--score {
        font-size: 1.2rem;
    }

    .main__controls--dice-img {
        height: 3rem;
    }

    .main__controls {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .main__current {
        margin-bottom: 1rem;
    }
}

// ! Landscape

// ! Mobile Landscape

/* (320x480) Smartphone, Landscape */
@media (min-width: 480px) and (max-width: 568px) and (orientation: landscape) {
    .btn__icon {
        background-color: blue;
    }

    .menu__game-name {
        background-color: blue;
    }

    .menu__logo-image {
        height: 4rem;
    }

    .menu__game-name {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .btn__big {
        font-size: 0.7rem !important;
    }
}

@media (min-width: 569px) and (max-width: 640px) and (orientation: landscape) {
    .btn__icon {
        background-color: green;
    }

    .menu__game-name {
        background-color: green;
    }

    .menu__logo-image {
        height: 4rem;
    }

    .menu__game-name {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .btn__big {
        font-size: 0.7rem !important;
    }
}

@media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    .btn__icon {
        background-color: purple;
    }

    .menu__game-name {
        background-color: purple;
    }

    .btn__icon {
        height: 30px;
        width: 30px;
    }

    .main__name {
        font-size: 1.7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .main__score {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .main__current--label,
    .main__current--score {
        font-size: 1rem;
    }

    .main__current {
        margin-bottom: 0.7rem;
    }

    .main__controls--dice-img {
        height: 3rem;
    }
}
@media (min-width: 801px) and (max-width: 900px) and (orientation: landscape) {
    .btn__icon {
        background-color: red;
    }

    .menu__game-name {
        background-color: red;
    }
}
@media (min-width: 901px) and (max-width: 1024px) and (orientation: landscape) {
    .btn__icon {
        background-color: blueviolet;
    }

    .menu__game-name {
        background-color: blueviolet;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    .btn__icon {
        background-color: burlywood;
    }

    .menu__game-name {
        background-color: burlywood;
    }
}
@media (min-width: 1281px) and (max-width: 1440px) and (orientation: landscape) {
    .btn__icon {
        background-color: darkkhaki;
    }

    .menu__game-name {
        background-color: darkkhaki;
    }
}
@media (min-width: 1441px) and (max-width: 1800px) and (orientation: landscape) {
    .btn__icon {
        background-color: darkorange;
    }

    .menu__game-name {
        background-color: darkorange;
    }
}

@media (min-width: 1801px) and (orientation: landscape) {
    .btn__icon {
        background-color: chartreuse;
    }

    .menu__game-name {
        background-color: chartreuse;
    }
}
