// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            @content;
        }
    }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

/**
* FLEXBOX
* A mixin to rule complex flexbox layout
* @author nicolacastellanidev@gmail.com
*/
@mixin flexbox(
    $display: flex,
    $direction: row,
    $placeContent: null,
    $placeItems: null,
    $wrap: nowrap,
    $shrink: 0,
    $grow: 0,
    $alignContent: null,
    $justifyContent: null,
    $alignItems: null,
    $justifyItems: null
) {
    display: $display;
    flex-direction: $direction;

    @if $placeContent == null {
        @if $alignContent {
            align-content: $alignContent;
        }
        @if $justifyContent {
            justify-content: $justifyContent;
        }
    } @else {
        place-content: $placeContent;
    }

    @if $placeItems == null {
        @if $alignItems {
            align-items: $alignItems;
        }
        @if $justifyItems {
            justify-items: $justifyItems;
        }
    } @else {
        place-items: $placeItems;
    }

    flex-wrap: $wrap;
    flex-shrink: $shrink;
    flex-grow: $grow;
}

/* It's a mixin that can be used to set the style of a small button. */
@mixin btn__style--small {
    background-color: $btn-small__bg-colour;
    box-shadow: $shadow__drop-soft;
    backdrop-filter: $filter__blur-4;
    -webkit-backdrop-filter: $filter__blur-4;
    border-radius: $border__10;
    // border: $btn-small__border;
    transition: all 0.2s;

    // &:hover {
    //     background-color: $colour__pale-green !important;
    //     box-shadow: $shadow__inset;
    // }

    &:active {
        transform: translate(0%, 5px);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
        background-color: $colour__pale-green !important;
        box-shadow: $shadow__inset;
    }
}

/* It's a mixin that can be used to set the style of a big button. */
@mixin btn__style--big {
    box-shadow: $shadow__btn;
    background-color: $colour__pink !important;
    width: $width__40;
    color: $colour__dime-gray !important;
    font-weight: $font__weight-bold;
    border-radius: $border__10;
    text-transform: $font__uppercase;
    transition: all 0.2s;

    // &:hover {
    //     box-shadow: $shadow__inset;
    //     width: $width__40;
    //     color: $colour__dark-gray;
    //     font-weight: $font__weight-bold;
    //     background-color: $colour__pale-green !important;
    // }

    &:active {
        transform: translate(0%, 5px);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
        background-color: $colour__pale-green !important;
        box-shadow: $shadow__inset;
    }
}

/* It's a mixin that can be used to set the size of an btn icon. */
@mixin btn__icon--size {
    float: left;
    height: 18px;
    width: 18px;
}
