// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// ! End Normalize

// ! Main Variables

// ! Main Menu

// Fonts
$font__title-font: 'Gloria Hallelujah', cursive !important;
// $font__text-font: 'Roboto', sans-serif !important;
$font__text-font: 'Nunito', sans-serif;

$font__weight-bold: bold !important;
$font__uppercase: uppercase !important;

// Border
$border__10: 10px;
$border__20: 20px;
$border__30: 30px;

// Colours
$colour__pink: #ffc4c8;
$colour__plum: #ee8fc8;
$colour__dark-plum: #ea80bb;
$colour__pale-violet: #d74389;
$colour__medium-violet: #b53b74;
$colour__dark-violet: #762c4d;
$colour__red: #eb1313;
$colour__dime-gray: #603d51;
$colour__dark-slategray: #3d2935;
$colour__dark-gray: #1a0f15;
$colour__bright-green: #43d791;
$colour__pale-green: #8feeb5;

$colour__background: linear-gradient(
    to top,
    $colour__plum,
    $colour__pale-violet
);

$colour__transparent-025: rgba(255, 255, 255, 0.25);
$colour__transparent-018: rgba(255, 255, 255, 0.18);

// Buttons
$btn-small__bg-colour: $colour__transparent-025 !important;
$btn-small__border: 1px solid $colour__transparent-018 !important;

// Border
$border__box-border: $btn-small__border;

// Shadows
$shadow__inset: inset 0px 0px 6px 0px $colour__dark-slategray;
$shadow__btn: 2px 2px 6px 0px $colour__dark-violet;
$shadow__modal: 0px 0px 2px 0px $colour__dark-slategray;
$shadow__text: 1px 1px 1px $colour__dark-gray;
$shadow__box-small: 1px 1px 3px $colour__dark-slategray,
    -1px -1px 3px $colour__medium-violet;
$shadow__main-inset: inset 0 0 0 1px rgb(215 67 137 / 30%),
    inset 0 0 10px rgb(215 67 137 / 60%), inset 0 5px 10px rgb(0 0 0 / 20%);
$shadow__main: 0 0 0 1px rgb(215 67 137 / 30%), 0 0 10px rgb(215 67 137 / 60%),
    0 5px 10px rgb(0 0 0 / 20%);

$shadow__drop-soft: 0 0 0 1px rgb(215 67 137 / 30%),
    0 0 10px rgb(215 67 137 / 60%), 0 5px 10px rgb(0 0 0 / 20%);

$shadow__inset-soft: inset 0 0 0 1px rgb(215 67 137 / 30%),
    inset 0 0 10px rgb(215 67 137 / 60%), inset 0 5px 10px rgb(0 0 0 / 20%);

// Filters
$filter__blur-4: blur(4px) !important;
$filter__blur-7: blur(7px) !important;
$filter__drop-shadow: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.5)) !important;

// Widths
$width__40: 40% !important;
