@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layout/header', 'layout/footer', 'layout/main';

// 5. Components
@import 'components/modals', 'components/buttons', 'components/carousel',
    'components/audio-switch';

// 6. Page-specific styles
@import 'pages/wrapper', 'pages/menu';

// 7. Themes
@import 'themes/default';

// 8. Media queries
@import 'media-queries/media-queries';
