// ! Audio

/* ********* AUDIO SWITCH ********* */

.audio {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &__checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: $border__box-border;
        box-shadow: $shadow__box-small;
        border-radius: $border__20;
    }

    &__inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 32px;
            font-size: 14px;
            font-family: $font__text-font;
            font-weight: $font__weight-bold;
            box-sizing: border-box;
        }
        &:before {
            content: 'ON';
            padding-right: 15px;
            background-color: $colour__pale-green;
            color: $colour__dark-gray;
        }
        &:after {
            content: 'OFF';
            padding-right: 20px;
            background-color: $colour__red;
            color: $colour__dark-gray;
            text-align: right;
        }
    }
    &__switch {
        display: block;
        width: 30px;
        margin: 0px;
        background: $colour__pink;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 60px;
        border: $border__box-border;
        box-shadow: $shadow__box-small;
        border-radius: $border__20;
        transition: all 0.3s ease-in 0s;
    }
}

.audio__checkbox:checked + .audio__label .audio__inner {
    margin-left: 0;
}
.audio__checkbox:checked + .audio__label .audio__switch {
    right: 0px;
}
