// ! Win points

/* ********* WIN POINTS ********* */
.win-points {
    &__display {
        font-size: 0.7rem !important;
        font-weight: bold;
        padding: 6px 30px;
        border-radius: 10px;
        // background-color: $colour__pale-green;
        box-shadow: $shadow__drop-soft;
        backdrop-filter: blur(7px) !important;
        // border: 1px solid rgba(255, 255, 255, 0.18) !important;
    }

    &--active {
        background-color: $colour__pale-green;
    }
}
