// ! Footer

/* ********* FOOTER ********* */

.footer {
    &__btn {
        @include small-btn-style;
        &--back {
            background: url(assets/img/icons/dark/back-arrow.svg) no-repeat;
            @include icon-size;
        }
    }

    &__max-score {
        align-self: center;
        &--input {
            background-color: $main-pink;
            border-radius: $border-radius;
            border: $game-btn-border;
            box-shadow: $btn-shadow;
        }
        &--input:focus-visible {
            outline: none;
            background-color: $main-green;
            box-shadow: 2px 2px 6px 0px #b53b74 !important;
        }
    }
}

/* ********* END ********* */
