// ! Header

/* ********* HEADER ********* */

.header {
    &__rules {
        background: url(/assets/img/icons/dark/question.svg) no-repeat;
    }

    &__new-game {
        background: url(/assets/img/icons/dark/repeat.svg) no-repeat;
    }

    &__settings {
        background: url(/assets/img/icons/dark/cog.svg) no-repeat;
    }
}
