// ! Main

/* ********* MAIN ********* */

.main {
    width: 90% !important;

    &__player {
        background-color: $colour__transparent-025;
        // box-shadow: $shadow__box-small;
        backdrop-filter: $filter__blur-4;
        -webkit-backdrop-filter: $filter__blur-4;
        border-radius: $border__20;
        // border: $border__box-border;
        background-color: rgb(255 255 255 / 0%);
        box-shadow: $shadow__inset-soft;
        transition: all 0.3s;

        @include flexbox(
            $display: flex,
            $justifyContent: center,
            $shrink: none,
            $wrap: wrap
        );

        &--active {
            // background-color: #8feeb596;
            // font-weight: bold;
            box-shadow: $shadow__drop-soft;
            background: $colour__dark-plum;
            .main__current {
                background-color: $colour__dark-plum;
                box-shadow: $shadow__drop-soft;
            }
            .main__name,
            .main__score,
            .main__current--label,
            .main__current--score {
                color: #000000;
            }
        }
        &--winner {
            background-color: $colour__bright-green;
            box-shadow: $shadow__drop-soft;
        }

        &--lost {
            background-color: #d7436b;
            box-shadow: $shadow__drop-soft;
        }
    }

    &__name {
        font-size: 1rem;
        font-family: $font__text-font;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        text-transform: uppercase;
        color: #363636;
    }

    &__score {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
        color: #363636;
        contain: inline-size;
    }

    &__current {
        background: rgba(255, 255, 255, 0);
        box-shadow: $shadow__drop-soft;
        backdrop-filter: $filter__blur-7;
        -webkit-backdrop-filter: $filter__blur-7;
        font-family: $font__text-font;
        border-radius: $border__10;
        // border: $border__box-border;
        width: auto !important;
        // margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &--label {
            font-size: 0.7rem;
            margin-bottom: 0;
            text-transform: uppercase;
            color: #363636;
        }
        &--score {
            font-size: 0.7rem;
            margin-bottom: 0;
            color: #363636;
            contain: inline-size;
        }
    }

    &__controls {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        &--dice-col {
            margin-left: 33.3%;
        }
        &--dice-img {
            height: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            box-shadow: $shadow__drop-soft;
            border-radius: $border__10;
        }
        &--hold-col {
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &--hold-icon {
            background: url(/pig-game-v2/assets/img/icons/dark/save.svg)
                no-repeat;
        }
    }

    &__roll-dice {
        position: absolute;
        right: 5%;
        top: 33%;

        &--icon {
            background: url(/pig-game-v2/assets/img/icons/dark/dice.svg)
                no-repeat;
        }
    }
}
