// ! Main

/* ********* MAIN ********* */

.main {
    width: 90% !important;

    &__player {
        background-color: $colour__transparent-025;
        box-shadow: $shadow__box;
        backdrop-filter: $filter__blur-4;
        -webkit-backdrop-filter: $filter__blur-4;
        border-radius: $border__10;
        border: $border__box-border;

        @include flexbox(
            $display: flex,
            $justifyContent: center,
            $shrink: none,
            $wrap: wrap
        );
    }

    &__name {
        font-size: 1.5rem;
        font-family: $font__text-font;
        text-transform: uppercase;
        color: #363636;
    }

    &__score {
        font-size: 1.8rem;
        color: #363636;
    }

    &__current {
        background: rgba(255, 255, 255, 0);
        box-shadow: $shadow__btn;
        backdrop-filter: $filter__blur-7;
        -webkit-backdrop-filter: $filter__blur-7;
        font-family: $font__text-font;
        border-radius: $border__10;
        border: $border__box-border;
        width: auto !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &--label {
            margin-bottom: 0;
            text-transform: uppercase;
            color: #363636;
        }
        &--score {
            margin-bottom: 0;
            color: #363636;
        }
    }

    &__controls {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;

        &--dice-col {
            margin-left: 33.3%;
        }
        &--dice-img {
            height: 3rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            box-shadow: $shadow__btn;
            border-radius: $border__10;
        }
        &--hold-col {
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &--hold-icon {
            background: url(/pig-game-v2/assets/img/icons/dark/save.svg)
                no-repeat;
        }
    }

    &__roll-dice {
        position: absolute;
        right: 5%;
        top: 33%;

        &--icon {
            background: url(/pig-game-v2/assets/img/icons/dark/dice.svg)
                no-repeat;
        }
    }
}
