// ! Menu

/* ********* MENU ********* */

.menu {
    position: fixed;
    height: 100%;
    background: $colour__background;
    box-shadow: $shadow__inset;
    z-index: 10;
    @include flexbox(
        $display: flex,
        $alignItems: center,
        $justifyContent: center
    );

    &__logo-image {
        height: 5rem;
        filter: $filter__drop-shadow;
    }

    &__game-name {
        font-family: $font__title-font;
        font-size: 1.8rem;
        font-weight: $font__weight-bold;
        color: $colour__pink;
        text-shadow: $shadow__text;
        margin-bottom: 0.5rem;
    }
}
