// ! Wrapper

/* ********* WRAPPER ********* */

.wrapper {
    height: 100%;
    @include flexbox(
        $display: flex,
        $direction: column,
        $justifyContent: space-between,
        $alignItems: center
    );
    background: $colour__background;
    box-shadow: $shadow__drop-soft;
}
